body {
  background-color: #1b244a;
}

h1 {
  color: #eeeeee;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  font-family: cursed;
  border-style: solid;
  border-color: #9aabd8;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
  color: #9aabd8;
}

@font-face {
  font-family: "cursed";
  src: url("CursedTimerUlil-Aznm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
