body {
  background-color: #1b244a;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

h1 {
  color: #eeeeee;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  font-family: cursed;
  border-style: solid;
  border-color: #9aabd8;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
  color: #9aabd8;
  width: 45px;
  height: 45px;
  font-size: 18;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
  height: 248px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 248px;
  width: 155px;
  padding: 0;
  margin: 0;
  border: solid 5px;
  border-radius: 5px;
  padding: 5px;
  border-color: transparent;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155px;
  height: 45px;
}

.digit {
  background-color: #080001;
  width: 155;
  height: 105;
  color: #f94f6d;
  font-size: 90;
  text-align: center;
  font-family: cursed;
  padding-top: 15;
  border-radius: 5px;
}

.new-game-b {
  background-color: #080001;
  width: fit-content;
  font-size: 25;
  padding-inline: 20px;
}

.category {
  font-family: cursed;
  color: #9aabd8;
}

@font-face {
  font-family: "cursed";
  src: url("CursedTimerUlil-Aznm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
